/* You can add global styles to this file, and also import other style files */
html{
  height: 100%;
}
body{
  margin: 0;
  height: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Inter', sans-serif; }

.header .mat-mdc-card-avatar~.mat-mdc-card-header-text .mat-mdc-card-title{
  padding: 0;
}
